.passbook-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1b1d27;
}
.passbook-head {
  // flex: 0.11;
  background: #01b0ff;
  padding-bottom: 2rem;
}

.passbook-body {
  // flex: 0.95;
  // background-color: #000;
  border-radius: 15px 15px 0 0;
  padding: 20px;

  .MuiTextField-root {
    width: 100%;
    color: #fff;
  }
  .MuiInputLabel-root {
    color: #fff;
    font-size: 20px;
  }
  .MuiInputLabel-root.Mui-focused {
    color: #fff;
  }
  .MuiInput-root {
    margin-top: 1.5rem;
    color: #fff;
    background-color: #2f354b;
    border-radius: 10px;
    height: 2.5rem;
    padding-left: 1rem;
    .MuiSelect-icon {
      color: #2f354b;
      font-size: 30px;
    }
  }
  .MuiInput-root:after {
    border-bottom: none;
  }
}

.passbook-title {
  height: 50px;
  padding: 15px;

  .MuiSvgIcon-root {
    position: absolute;
    width: 2em;
    height: 2em;
    color: #fff;
  }
}
.passbook_subtitle {
  padding-top: 0.75rem;
  font-size: 22px;
  color: #fff;
  text-align: center;
}
.passbook-body-head {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  button {
    background-color: #2f354b;
    color: #fff;
    border-width: 0;
    padding: 10px;
    border-radius: 10px;
  }
}

.passbook-body-date {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  .MuiOutlinedInput-input {
    background-color: #2f354b;
    color: #fff;
    border-radius: 10px;
    height: 1.5rem;
    width: 100%;
  }
  .MuiInputLabel-root {
    color: #fff;
  }
  .MuiInputLabel-root.Mui-focused {
    color: #fff;
  }

  input {
    background-color: #2f354b;
    height: 2.5rem;
    color: #fff;
    border-width: 0;
    padding: 5px 14px 5px 14px;
    border-radius: 10px;
    outline: none;
  }
}

.passbook-body-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    background-color: #2f354b;
    color: #fff;
    border-width: 0;
    padding: 10px;
    border-radius: 10px;
    width: 48%;
    height: 3rem;
    font-size: 15px;
  }
}

.transaction-data {
  color: #fff;
  text-align: center;
  margin: 20px 0 20px 0;
  width: 100%;
  // .MuiTableContainer-root {
  //   background-color: #f6c831;
  // }
  // .MuiTableRow-root {
  //   .MuiTableCell-root {
  //     width: 5px;
  //   }
  // }
  .MuiTable-root {
    max-width: 100%;
  }
}
.transaction-data-table {
  border-collapse: collapse;
  max-width: 100%;
  th,
  td {
    padding: 4px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 0.5px solid rgb(176, 170, 170);
  }
}
.tableRow {
  .MuiTableCell-root {
    font-size: 12px !important;
    text-align: center !important;
    padding: 0.5rem !important;
    color: #fff;
  }
}

.detail-button {
  background: #01b0ff;
  min-height: 20px;
  border-width: 0;
  border-radius: 5px;
  outline: none;
  padding: 0 0.5rem;
  cursor: pointer;
}

.cancel-filter-button {
  background: #01b0ff;
  min-height: 20px;
  border-width: 0;
  border-radius: 5px;
  outline: none;
  padding: 0 0.5rem;
  cursor: pointer;
  width: 5rem;
}
