.withdraw_main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #01b0ff;
}
.withdraw_head {
  flex: 0.1;
  background-color: #01b0ff;
  margin-bottom: 2rem;
}
.withdraw_body {
  flex: 0.9;
  background-color: #1b1d27;
  border-radius: 15px 15px 0 0;
}
.wallet-balance {
  width: 82%;
  height: 8rem;
  background-color: #2f354b;
  border-radius: 15px;
  margin-left: 9%;
  margin-top: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 50px;
  }
}
.withdraw_title {
  height: 50px;
  padding: 15px;

  .MuiSvgIcon-root {
    position: absolute;
    width: 2em;
    height: 2em;
    color: #fff;
  }
}
.withdraw_subtitle {
  padding-top: 0.75rem;
  font-size: 22px;
  color: #fff;
  text-align: center;
}

.wallet-balance-data-title {
  color: #01b0ff;
}
.wallet-balance-data {
  margin-left: 1rem;
}
.allet-balance-data-amountw {
  font-size: 25px;
  color: #fff;
  text-align: center;
}
.wallet-transfer-details-balance {
  margin-bottom: 3rem;

  hr {
    border: none;
    border-top: 3px dotted rgb(169, 165, 165);
  }
}
.wallet-transfer-details {
  color: #fff;
  padding: 10%;
  .MuiTextField-root {
    width: 100%;
    border-bottom: 2px solid #fff;
    margin-bottom: 2rem;
  }
  .MuiInputLabel-root {
    font-size: 20px;
    color: #fff;
  }
  .MuiInputLabel-root.Mui-focused {
    color: #fff;
  }
  .MuiInput-root {
    color: #fff;
  }
  .MuiInput-root:after {
    border-bottom: none;
  }
}
.withdraw_details-balance {
  margin-bottom: 1rem;

  hr {
    border: none;
    border-top: 3px dotted rgb(169, 165, 165);
  }
}
.withdraw_details {
  color: #fff;
  padding: 10%;
  .MuiTextField-root {
    width: 100%;
    border-bottom: 2px solid #fff;
    margin-bottom: 2rem;
  }
  .MuiInputLabel-root {
    font-size: 20px;
    color: #fff;
  }
  .MuiInputLabel-root.Mui-focused {
    color: #fff;
  }
  .MuiInput-root {
    color: #fff;
  }
  .MuiInput-root:after {
    border-bottom: none;
  }
}

.withdraw-amount-input {
  width: 100%;
  height: 3.5rem;
  border-width: 0;
  outline: none;
  border-radius: 8px;
  background-color: #2f354b;
  padding: 1rem;
  color: #fff;
  font-size: 20px;
  margin-bottom: 1rem;
}

.withdraw_form_container {
  .MuiTextField-root {
    width: 100%;
    border-bottom: 2px solid #fff;
    margin-bottom: 1rem;
  }
  .MuiInputLabel-root {
    color: #fff;
  }
  .MuiInputLabel-root.Mui-focused {
    color: #fff;
  }
  .MuiInput-root {
    color: #fff;
  }
  .MuiInput-root:after {
    border-bottom: none;
  }
  .MuiFormLabel-root.Mui-error {
    color: #fff;
  }
}
.withdraw_button_div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.withdraw_button {
  background-color: #01b0ff;
  min-height: 30px;
  border-width: 0;
  border-radius: 5px;
  outline: none;
  padding: 10px 80px;
  margin: auto;
}

.withdraw_select {
  .MuiFormLabel-root.MuiInputLabel-root {
    font-size: 16px;
  }
}
.preview_img {
  width: -webkit-fill-available;
  height: auto;
}
.withdraw_file_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #2b2929;
  border-radius: 13px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.withdraw-transfer-button {
  width: 76%;
  margin-left: 12%;
  height: 3rem;
  font-size: 18px;
  border-radius: 5px;
  border-width: 0;
  background: #01b0ff;
}
