.referral-popup {
  background-color: #01afff7a;
  .MuiDialog-paper {
    padding: 20px;
    border-radius: 15px;
    background-color: #1b1d27;
    color: white;
  }
  input {
    width: 100%;
    height: 3rem;
    border-width: 0;
    outline: none;
    border-radius: 8px;
    background-color: #2f354b;
    padding: 1rem;
    color: #fff;
    font-size: 15px;
    margin-bottom: 2rem;
  }

  .code_button_div {
    // width: 100%;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .code_button {
    background: #01b0ff;
    min-height: 30px;
    border-width: 0;
    border-radius: 5px;
    outline: none;
    padding: 0 1rem;
    // margin: auto;
  }
}
.close-icon-div {
  display: flex;
  justify-content: end;
}
.close-icon-div-text {
  margin: 1rem 0 1rem 0;
}
