.home_header {
  height: 4rem;
  padding: 20px;
  color: #1b1d27;
  background-color: #01b0ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.home_header_menuicon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  .MuiSvgIcon-root {
    width: 25px;
  }
}
