.footer {
  padding: 5px;
  background-color: #252425;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer_icon_title {
  color: #8e8b8b;
  font-size: 10px;
  text-decoration: none !important;
}
.footer_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
