.third_party_transaction_main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #191718;
}
.third_party_transaction_head {
  // flex: 0.11;
  background: #01b0ff;
  padding-bottom: 2rem;
}

.third_party_transaction_title {
  height: 50px;
  padding: 15px;

  .MuiSvgIcon-root {
    position: absolute;
    width: 2em;
    height: 2em;
    color: #fff;
  }
}

.third_party_transaction_subtitle {
  padding-top: 0.75rem;
  font-size: 22px;
  color: #fff;
  text-align: center;
}

.third_party_transaction_form {
  padding: 0 30px 30px 30px;
  margin-top: 4rem;
}

.third_party_transaction_form_container {
  .MuiTextField-root {
    width: 100%;
    border-bottom: 2px solid #fff;
    margin-bottom: 1rem;
  }
  .MuiInputLabel-root {
    color: #fff;
  }
  .MuiInputLabel-root.Mui-focused {
    color: #fff;
  }
  .MuiInput-root {
    color: #fff;
  }
  .MuiInput-root:after {
    border-bottom: none;
  }
  .MuiFormLabel-root.Mui-error {
    color: #fff;
  }
}
.third_party_transaction_button_div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.third_party_transaction_button {
  background: #01b0ff;
  min-height: 30px;
  border-width: 0;
  border-radius: 5px;
  outline: none;
  padding: 10px 80px;
  margin: auto;
}
