.loginbutton {
  background: #01b0ff;
  min-height: 30px;
  border-width: 0;
  border-radius: 5px;
  outline: none;
  padding: 10px 80px;
  margin: auto;
}
.forgot_password {
  width: 100%;
  text-align: end;
  margin-bottom: 3rem;
}
.button_div {
  width: 100%;
  display: flex;
  align-items: center;
}
.login-mobile-number {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.country-input {
  flex: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
  .MuiTextField-root {
    width: 100%;
    border-bottom: 2px solid #fff;
    margin-bottom: 2rem;
    overflow: scroll;
  }
  .MuiInputLabel-root {
    color: #fff;
  }
  .MuiInputLabel-root.Mui-focused {
    color: #fff;
  }
  .MuiInput-root {
    color: #fff;
  }
  .MuiInput-root:after {
    border-bottom: none;
  }
  .MuiSelect-icon {
    color: #fff;
  }
}
.number-input {
  flex: 0.8;
  .MuiTextField-root {
    width: 100%;
    border-bottom: 2px solid #fff;
  }
  .MuiInputLabel-root {
    color: #fff;
  }
  .MuiInputLabel-root.Mui-focused {
    color: #fff;
  }
  .MuiInput-root {
    color: #fff;
  }
  .MuiInput-root:after {
    border-bottom: none;
  }
}
.login-mobile-number-label {
  font-size: 12px;
  margin-bottom: 0.2rem;
}
