.App {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: #1b1d27;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.error_text {
  font-size: 12px;
  color: red;
  font-weight: 500;
  margin-bottom: 1rem;
}
